name: continuous-integration

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - "main"
      - "feature/**"
      - "!all-contributors/**"
    paths-ignore:
      - "**/*.md"

jobs:
  check:
    runs-on: ubuntu-20.04
    name: Check

    steps:
      - name: Checkout code
        uses: actions/checkout@v3.0.2

      - name: Use Node.js 14
        uses: actions/setup-node@v3.3.0
        with:
          node-version: 14

      - name: Cache node_modules
        id: cache-node_modules
        uses: actions/cache@v3.0.4
        with:
          path: node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node_modules-
            ${{ runner.os }}-

      - name: Install dependencies
        if: steps.cache-node_modules.outputs.cache-hit != 'true'
        run: |
          yarn install --frozen-lockfile

      - name: Lint
        run: |
          yarn lint
