name: publish

on:
  push:
    tags:
      - "*"

jobs:
  build-and-release:
    runs-on: ubuntu-20.04
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      -
        name: Checkout code
        uses: actions/checkout@v4.1.2

      -
        name: Use Node.js 14
        uses: actions/setup-node@v3.8.1
        with:
          node-version: 20

      -
        name: Cache node_modules
        id: cache-node_modules
        uses: actions/cache@v3.3.2
        with:
          path: node_modules
          key: ${{ runner.os }}-build-node_modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-node_modules-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      -
        name: Install dependencies
        if: steps.cache-node_modules.outputs.cache-hit != 'true'
        run: |
          yarn install --frozen-lockfile

      -
        name: Build vsix
        run: |
          yarn vsce package

      -
        name: Release
        run: |
          yarn vsce publish --yarn --pat ${{ secrets.VSCE_PAT }}
          yarn ovsx publish --yarn --pat ${{ secrets.OVSX_PAT }}

      -
        name: GitHub Release
        uses: softprops/action-gh-release@v0.1.14
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: '*.vsix'
